@font-face {
  font-family: "Tormenta20";
  src: local("Tormenta20"), url("./fonts/Tormenta20.ttf"), format("ttf");
}

@font-face {
  font-family: "Iowan Old Style";
  src: local("Iowan Old Style"), url("./fonts/Iowan_Old_Style_Regular.ttf"), format("ttf");
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

:root {
  --dark-purple: "#2F1B25";
  --bright-red: "#F71735";
  --pale-pink: "#FAD8D6";
  --nickel: "#747572";
  --xiketic: "#13070C";
  --dark-blue: "#13070C";
  --redish-brown: "#3F0F12";
  --light-brown: "#6F3C27";
  --moderate-red: "#B02B2E";
  --light-yellow: "#F0DC82";
  --almost-white: "#E8D1B5";
  --bluish-grey: "#727175";
  --light-grey: "#DDD9D5";
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #2f1b25;
  -webkit-font-smoothing: antialiased;
  font: 400 14px Tormenta20, Iowan_Old_Style_Regular, sans-serif;
  color: #ffffff
}
